<h1>Editing Keyword</h1>

<%= render 'form', keyword: @keyword %>

<%= link_to 'Voir', @keyword, type:"button", class:"btn btn-outline-info " %> |
<%= link_to 'Retour', keywords_path, type:"button", class:"btn btn-outline-dark "  %>
