
<div class="containter p-3 center">
	<h1 class="text-center">Modifier une situation</h1>

	<%= render 'form', report: @report %>
	
	<div class="text-center">
		<%= link_to 'Voir', edit_report_path(@report), type:"button", class:"btn btn-outline-info " %> |
		<%= link_to 'Retour', reports_path, type:"button", class:"btn btn-outline-dark "  %>
	</div>
</div>

