<h1>Modifier un signalement</h1>

<%= render 'form', report: @report %>

<button type="button" class="btn btn-outline-info"><%= link_to 'Voir', report %></button> |
<button type="button" class="btn btn-outline-dark"><%= link_to 'Retour', reports_path %></button>
