<h1>Modifier une situation</h1>

<%= render 'form', report: @report %>

<button type="button" class="btn btn-outline-info"><%= link_to 'Voir', @reports %></button> |
<button type="button" class="btn btn-outline-dark"><%= link_to 'Retour', reports_path %></button>
