<footer class="footer fixed-bottom">
  <div class="containter">
    <div class="d-flex justify-content-center bg-secondary text-white">
      <span class="font-weight-bold"> Créé par : Brice Jones / CPAM Toulouse/SI/RPI © 2020 / Contacts Tél : 06 06 06 06 06 Email : brice.jones@assurance-maladie.fr</span>
    </div>
  </div>
</footer>
