    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">MisAS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/reports">Situations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todos">Actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/keywords">Mots-clés</a>
        </li>
      </ul>
    </div>
      <!-- Zone formualaire de recherche -->

  <div class="form-inline my-2 my-lg-0">
    <%= form_tag(reports_path method: :get) do %>
      Une situation ? <%= text_field_tag :search, params[:search] %>
      <%= submit_tag 'Chercher' , class:"btn btn-primary" %>
    <% end %>
  </div>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">OK</button>
    </form>-->
  </nav>